body {
  font-family: 'Open Sans', 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

.navbar {
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.jm-background-img {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.jm-background-img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #212121; /* material grey 900 */
  animation: translucinate 2s ease 1s 1 forwards; /* todo variables for these #s */
}
h1 {
    font-size: 64px;
}
.content {
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the type-in animation */
  letter-spacing: .15em; /* Adjust as needed */
}
.bg-content {
  margin-bottom: 26px;
}
#jm-console {
  display: inline-block;
  padding: 15px;
  text-align: left;
  color: #BDBDBD;
  background-color: rgba(33,33,33,1);
}
#jm-console-input {
  width: calc(100% - 15px);
  background-color: transparent;
  border: none;
  outline: none;
}
.fade-in {
  opacity: 0;
  animation: fwade-in 1s ease 1s 1 forwards;
}
.type-in {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes fwade-in {
    from {
      opacity: 0;
      filter: blur(5px);
    }
    to {
      opacity: 1;
      filter: none;
    }
}
@keyframes translucinate {
    to { background-color: rgba(33, 33, 33, 0.75) }
}
.icon-circular {
  display: block;
  margin: 20px auto;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 2px solid white;
}
.icon-circular img {
  max-width: 100%;
}

/**
 * Blackboard
 */

.blackboard-container {
  padding: 15px;
  animation: fwade-in 1s ease 0s 1 forwards;
  flex-direction: column;
  align-items: center;
}

.blackboard {
  cursor: crosshair;
  user-select: none;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.colors {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.color {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
