.App {
  text-align: center;
  background-color: #282c34;
}

.Title {
  animation: Title-glow infinite 2000ms linear alternate;
  background: #333944;
  margin: 50px 0 30px 0;
  border-radius: 5px;
  padding: 15px;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Title-glow {
  from {
    background: #333944;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  }
  100% {
    background: #38455c;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
  }
}
