<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="content text-center">
  <div class="home-content" style="transition: all 5s ease">
    <div class="history-log">
      <ul>
      </ul>
    </div>
    <div id="jm-console" class="fade-in" style="text-align: center">
        <img src="/images/architect.png" />
      </div>
    <br><br>
    <div id="jm-console" class="fade-in" style="text-align: center">
        I'm afraid there's not much to see here... YET!<br>🚧 Reconstruction imminent. 🚧
      </div>
        
  </div>
</div>
<script>
function v() {
  function c() { return 60+Math.random()*20; }
   (document.querySelector('.home-content')).style.background = `rgb(${c()}, ${c()}, ${c()})`;
 }
 v();
 setInterval(v, 5000);
 </script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/modules/showdown/showdown.js"></script>
<script src="/scripts/main.js" type="module"></script>
</body>
</html>
