<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="content text-center">
  <div class="bg-content">
    <div class="jm-background-img"></div>
    <a href="/" class="icon-circular fade-in">
      <img src="/images/icon.png">
    </a>
    <h1 style="margin: 0"><span class="type-in">Jamie Day</span></h1>
    <h3 style="margin-top: 0; margin-bottom: 20px"><span class="fade-in">Personal Website</span></h3>

    <div id="jm-console" class="fade-in">
      <p id="jm-console-instructions"></p>
      <span style="float: left;width: 15px">$</span><input type="text" id="jm-console-input" autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/blackboard.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>
