#faderino {
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	background-image: url('loadingimg.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	
	transition: opacity .5 ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
body {
	margin: 0;
}
a {
	color: black;
}